<template>
  <v-layout>
    <v-flex text->
      <blockquote class="blockquote">
        &#8220;This is the best!&#8221;
        <footer>
          <small>
            <em>&mdash;Mcihael Green</em>
          </small>
        </footer>
      </blockquote>
    </v-flex>
  </v-layout>
</template>
