<template>
  <v-layout>
    <v-flex>
      <h2>Language Strings in a Table</h2>
      <v-data-table :headers="headers" :items="langStrings" class="elevation-1">
        <template v-slot:items="props">
          <td>{{ props.item.tag }}</td>
          <td class="text-xs-right">
            {{ props.item.english }}
          </td>
          <td class="text-xs-right">
            {{ props.item.spanish }}
          </td>
          <td class="text-xs-right">
            {{ props.item.french }}
          </td>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  data() {
    return {
      headers: [
        {
          text: 'LanguageStrings',
          align: 'left',
          sortable: true,
          value: 'tag'
        },
        { text: 'English', value: 'english' },
        { text: 'Spanish', value: 'spanish' },
        { text: 'French', value: 'french' }
      ],
      langStrings: [
        {
          tag: 'access-more-material',
          english: 'Access more material',
          french: 'Accéder à plus de matériel',
          spanish: 'Acceder a más material'
        },
        {
          tag: 'action',
          english: 'action',
          french: 'Action',
          spanish: 'Acción'
        },
        {
          tag: 'action-details',
          english: 'action details',
          french: 'Détails actions',
          spanish: 'Detalles acciones'
        },
        {
          tag: 'action-response',
          english: 'Action and Response',
          french: 'Actions et réponses',
          spanish: 'Acción y Respuesta'
        },
        {
          tag: 'actions',
          english: 'Actions',
          french: 'Actions',
          spanish: 'Acciones'
        },
        {
          tag: 'actions-done',
          english: 'Actions Done',
          french: 'Actions entreprises',
          spanish: 'Acciones realizadas'
        },
        {
          tag: 'add-detail-to-a-mrv-system',
          english: 'Add detail',
          french: 'Ajouter détails',
          spanish: 'Añadir detalles'
        },
        {
          tag: 'add-email-addresses-separated-by-commas',
          english: 'Add email addresses separated by commas.',
          french: "jouter les adresses de courriel séparées d'une virgule",
          spanish:
            'Añadir direcciones de correo electrónico separadas por comas'
        },
        {
          tag: 'addresses-to',
          english: 'Addresses To',
          french: 'Adresses À',
          spanish: 'Direcciones A'
        },
        {
          tag: 'address-from',
          english: 'Address From',
          french: 'Adresse De',
          spanish: 'Dirección Desde'
        },
        {
          tag: 'are-you-sure-you-want-to-delete-profile',
          english: 'Are you sure you want to delete MRV profile?',
          french: 'Etes-vous sûr de vouloir supprimer le profil MNV?',
          spanish: 'Está seguro de que desea borrar el perfil MRV?'
        },
        {
          tag: 'cap-register',
          english: 'REGISTER',
          french: 'INSCRIPTION',
          spanish: 'REGISTRARSE'
        },
        {
          tag: 'category',
          english: 'category',
          french: 'Catégorie',
          spanish: 'Categoría'
        },
        {
          tag: 'characters-remaining',
          english: 'characters-remaining',
          french: 'Caractères restants',
          spanish: 'Carácteres restantes'
        },
        {
          tag: 'check-box',
          english: 'check box',
          french: 'Cocher la case',
          spanish: 'Marcar casilla'
        },
        {
          tag: 'clear-worksheet',
          english: 'Clear Worksheet',
          french: 'Effacer la fiche',
          spanish: 'Borrar ficha'
        },
        { tag: 'close', english: 'Close', french: 'Fermer', spanish: 'Cerrar' },
        {
          tag: 'competency',
          english: 'Competency',
          french: 'Compétence',
          spanish: 'Competencia'
        },
        {
          tag: 'concept-000',
          english: 'Forest Policy + Governance',
          french: 'Politique forestière + Gouvernance',
          spanish: 'Pólitica forestal + Gobernanza'
        },
        {
          tag: 'concept-001',
          english: 'Methods + Tools',
          french: 'Méthodes + Outils',
          spanish: 'Métodos + Herramientas'
        },
        {
          tag: 'concept-002',
          english: 'MRV Institutions',
          french: 'Institutions de MNV',
          spanish: 'Instituciones de MRV'
        },
        {
          tag: 'concept-003',
          english: 'Processes',
          french: 'Processus',
          spanish: 'Procesos'
        },
        {
          tag: 'concept-004',
          english: 'Approaches, Methods + Tiers',
          french: 'Approches, métodes + niveaux',
          spanish: 'Planteamientos, métodos + níveles'
        },
        {
          tag: 'concept-005',
          english: 'Carbon Pools',
          french: 'Réservoirs de carbone',
          spanish: 'Dépositos de carbono'
        },
        {
          tag: 'concept-006',
          english: 'Forest Definition',
          french: 'Définition de la forêt',
          spanish: 'Definición del bosque'
        },
        {
          tag: 'concept-007',
          english: 'LULC Stratification Scheme',
          french: 'Modèle de stratification de l’UOT',
          spanish: 'Plan de estratificación del UTCT'
        },
        {
          tag: 'concept-008',
          english: 'REDD+ Activities',
          french: 'Activités REDD+',
          spanish: 'Actividades REDD+'
        },
        {
          tag: 'concept-009',
          english: 'Spatial + Temporal Scope',
          french: "hamp d'application spatial + temporel",
          spanish: 'Ámbito espacial + temporal'
        },
        {
          tag: 'concept-010',
          english: 'Record Keeping',
          french: 'Conservation des informations',
          spanish: 'Mantenimiento de archivos'
        },
        {
          tag: 'concept-011',
          english: 'Ground Based Observations',
          french: 'Observations sur le terrain',
          spanish: 'Observaciones terrestres'
        },
        {
          tag: 'concept-012',
          english: 'Integration + Estimation',
          french: 'Intégration + Estimation',
          spanish: 'Integración + Estimación'
        },
        {
          tag: 'concept-013',
          english: 'Remote Sensing Observations',
          french: 'Observations par télédétection',
          spanish: 'Observaciones por teledetección'
        },
        {
          tag: 'concept-014',
          english: 'Uncertainty',
          french: 'Incertitudes',
          spanish: 'Incertidumbre'
        },
        {
          tag: 'concept-015',
          english: 'AFOLU GHG Inventory Reporting',
          french: 'Rapport d’inventaire des GES dans l’AFAUT',
          spanish: 'Informe de inventario de los GEI en la ASOUT'
        },
        {
          tag: 'concept-016',
          english: 'Internal + External Analysis',
          french: 'Analyse interne + externe',
          spanish: 'Análisis interna + externa'
        },
        {
          tag: 'concept-017',
          english: 'Non-carbon Related Reporting',
          french: 'Etablissement des rapports non liés au carbone',
          spanish: 'Presentación de informes no relacionados con el carbono'
        },
        {
          tag: 'concept-018',
          english: 'REDD+ Reporting',
          french: 'Établissement des rapports pour la REDD+',
          spanish: 'Presentación de informes para REDD+'
        },
        {
          tag: 'concept-019',
          english: 'Reference Emission Levels',
          french: "iveaux d'émission de référence",
          spanish: 'Niveles de referencia de las emisiones'
        },
        {
          tag: 'concept-worksheet',
          english: 'Concept Worksheet',
          french: 'Fiche Concept',
          spanish: 'Ficha Concepto'
        },
        {
          tag: 'copy-worksheet-to-another-mrv-system',
          english: 'Copy Worksheet to another MRV Profile',
          french: 'Copier la fiche dans un autre profil MNV',
          spanish: 'Copiar ficha a otro perfil MRV'
        },
        {
          tag: 'create-a-new-mrv-system',
          english: 'Create a new MRV Profile',
          french: 'Créer un nouveau profil MNV',
          spanish: 'Crear nuevo perfil MRV'
        },
        {
          tag: 'create-or-select-a-mrv-system',
          english: 'Create or select a MRV Profile',
          french: 'Créer ou sélectionner profil MNV',
          spanish: 'Crear o seleccionar perfil MRV'
        },
        {
          tag: 'date-report-created',
          english: 'Date Report Created',
          french: 'Date création du rapport',
          spanish: 'Fecha creación del informe'
        },
        { tag: 'delete-confirm', english: 'Yes', french: 'Oui', spanish: 'Sì' },
        {
          tag: 'delete-detail',
          english: 'Delete detail',
          french: 'Supprimer détail',
          spanish: 'Eliminar detalle'
        },
        {
          tag: 'detail-of-action-response',
          english: 'Enter Response Note',
          french: 'Introduire Note de réponse',
          spanish: 'Introducir Nota de respuesta'
        },
        {
          tag: 'details',
          english: 'details',
          french: 'Détails',
          spanish: 'Detalles'
        },
        {
          tag: 'dialog-box-style',
          english: 'dialog box style',
          french: 'Style boîte de dialogue',
          spanish: 'Estilo cuadro de diálogo'
        },
        {
          tag: 'download-the-mgd',
          english: 'Download the MGD',
          french: 'Télécharger les MPR',
          spanish: 'Descargar el DMO'
        },
        {
          tag: 'edit-profile-details',
          english: 'Edit profile details',
          french: 'Modifier les détails du profil',
          spanish: 'Configurar detalles perfil'
        },
        {
          tag: 'edit-tags',
          english: 'Edit tags',
          french: 'Éditer les balises',
          spanish: 'Editar etiquetas'
        },
        {
          tag: 'email-box',
          english: 'email',
          french: 'courriel',
          spanish: 'Correo electrónico'
        },
        {
          tag: 'enter-competency-state',
          english: 'Enter Competency State',
          french: 'Saisir l’état des compétences',
          spanish: 'Entrar estado de compentecias'
        },
        {
          tag: 'enter-detail-tags',
          english: 'Enter tags',
          french: 'Saisir balises',
          spanish: 'Entrar etiquetas'
        },
        {
          tag: 'enter-response',
          english: 'Enter Response',
          french: 'Saisir réponse',
          spanish: 'Entrar respuesta'
        },
        {
          tag: 'enter-state',
          english: 'Enter Action State',
          french: 'Saisir état de l’action',
          spanish: 'Entrar estado acción'
        },
        {
          tag: 'existing-mrvsystem',
          english: 'There is an existing MRV Profile with that name.',
          french: 'Il existe déjà un profil MNV avec ce nom',
          spanish: 'Ya existe un perfil MRV con ese nombre'
        },
        {
          tag:
            'export-functionality-will-only-be-available-for-data-saved-to-the-database',
          english:
            'Export functionality will only be available for data saved to the database.',
          french:
            'Export functionality will only be available for data saved to the database.',
          spanish:
            'Export functionality will only be available for data saved to the database.'
        },
        {
          tag: 'export-worksheet',
          english: 'Export Worksheet',
          french: 'Exporter la fiche',
          spanish: 'Exportar Ficha'
        },
        {
          tag: 'form-data-will-be-saved-to-x',
          english: 'Form data will be saved to {0}.',
          french: 'Les données du formulaire seront sauvegardées dans {0}',
          spanish: 'Los datos del formulario se guardarán en {0}'
        },
        {
          tag: 'front-page',
          english: 'Front Page',
          french: 'Couverture',
          spanish: 'Portada'
        },
        {
          tag: 'fullname-box',
          english: 'Full name',
          french: 'Nom complet',
          spanish: 'Nombre completo'
        },
        {
          tag: 'get-help-about-the-mgd-web-application',
          english: 'Ask for help about This page',
          french: 'Demander de l’aide pour cette page',
          spanish: 'Solicitar ayuda sobre esta página'
        },
        {
          tag: 'help-menu-title',
          english: 'Help',
          french: 'Aide',
          spanish: 'Ayuda'
        },
        { tag: 'hide', english: 'hide', french: 'Cacher', spanish: 'Ocultar' },
        {
          tag: 'institutional-arrangements',
          english: 'Internal Arrangements',
          french: 'Dispositifs institutionnels',
          spanish: 'Disposiciones institucionales'
        },
        {
          tag: 'javax.portlet.title.1_WAR_webformportlet',
          english: 'Web Form',
          french: 'Web Form',
          spanish: 'Web Form'
        },
        {
          tag: 'manage-an-existing-mrv-system',
          english: 'Manage an existing MRV Profile',
          french: 'Gestion d’un profil MNV existant',
          spanish: 'Gestión de Perfil MRV existente'
        },
        {
          tag: 'mark-all-details',
          english: 'Mark all Action States',
          french: 'Marquer tous les état de l’action',
          spanish: 'Marcar todos los estados de  acción'
        },
        {
          tag: 'marked-as',
          english: 'Marked as',
          french: 'Marqué comme',
          spanish: 'Marcado como'
        },
        {
          tag: 'mark-selected-details',
          english: 'Mark Selected Details',
          french: 'Marquer les détails sélectionnés',
          spanish: 'Marcar detalles seleccionados'
        },
        {
          tag: 'measurement-estimation',
          english: 'Mesurement + Estimation',
          french: 'Mesure + Estimation',
          spanish: 'Medición + Estimación'
        },
        {
          tag: 'mgd_1',
          english: 'Institutional Arrangements',
          french: 'Dispositifs institutionnels',
          spanish: 'Arreglos Institucionales'
        },
        {
          tag: 'mgd_1-1',
          english: 'Institutional arrangements and REDD+ decisions',
          french: 'Dispositifs institutionnels et décisions de REDD+',
          spanish: 'Arreglos institucionales y decisiones de REDD+'
        },
        {
          tag: 'mgd_1-2',
          english:
            'Institutions involved in measurement, reporting and verification',
          french:
            'Institutions associées aux activités de mesure, notification et vérification',
          spanish:
            'Instituciones que participan en la medición, notificación y verificación'
        },
        {
          tag: 'mgd_1-3',
          english: 'Measurement, reporting and verification processes',
          french: 'Processus de mesure, notification et vérification',
          spanish: 'Procesos de medición, notificación y verificación'
        },
        {
          tag: 'mgd_1-4',
          english: 'Operational requirements',
          french: 'Exigences opérationnelles',
          spanish: 'Requisitos operacionales'
        },
        {
          tag: 'mgd_1-5',
          english: 'Guiding principles – Institutional arrangements',
          french: 'Principes directeurs – Dispositifs institutionnels',
          spanish: 'Principios Rectores – Arreglos Institucionales'
        },
        {
          tag: 'mgd_2',
          english: 'Requirements and design decisions',
          french: 'Exigences et décisions à l’étape de conception',
          spanish: 'Requisitos y Decisiones de Diseño'
        },
        {
          tag: 'mgd_2-1',
          english: 'UNFCCC decisions and requirements',
          french: 'Exigences et décisions de la CCNUCC',
          spanish: 'Decisiones y requisitos de la CMNUCC'
        },
        {
          tag: 'mgd_2-2',
          english: 'IPCC good practice guidance',
          french: 'Guide et orientations sur les bonnes pratiques du GIEC',
          spanish: 'Orientación de buenas prácticas del IPCC'
        },
        {
          tag: 'mgd_2-2-1',
          english: 'Relationship to UNFCCC',
          french: 'Relations avec la CCNUCC',
          spanish: 'Relación con la CMNUCC'
        },
        {
          tag: 'mgd_2-2-2',
          english: 'GHGI coverage, approaches, methods and tiers',
          french: 'Couverture IGES, approches, méthodes et niveaux (Tiers)',
          spanish: 'Cobertura, enfoques, métodos y niveles de los IGEI'
        },
        {
          tag: 'mgd_2-2-3',
          english: 'Significance and key category analysis',
          french: 'Signification et analyse des catégories de source clés',
          spanish: 'Alcance y análisis de categorías esenciales'
        },
        {
          tag: 'mgd_2-3',
          english:
            'Design decisions relevant to national forest monitoring systems',
          french:
            'Décisions à l’étape de conception des systèmes nationaux de surveillance des forêts',
          spanish:
            'Decisiones sobre el diseño de los sistemas nacionales de monitoreo forestal'
        },
        {
          tag: 'mgd_2-3-1',
          english: 'Definition of forest',
          french: 'Définition de la forêt',
          spanish: 'Definición de bosque'
        },
        {
          tag: 'mgd_2-3-2',
          english: 'Land cover, land use and stratification',
          french: 'Couverture terrestre, occupation des sols et stratification',
          spanish: 'Cobertura de la tierra, uso de la tierra y estratificación'
        },
        {
          tag: 'mgd_2-3-3',
          english:
            'Forest reference emission levels and forest reference levels',
          french:
            'Les niveaux d’émission de référence pour les forêts et les niveaux de référence pour les forêts',
          spanish:
            'Niveles de referencia de emisiones forestales y niveles de referencia forestales'
        },
        {
          tag: 'mgd_2-3-3-1',
          english: 'Consistency with the GHGI',
          french: 'Cohérence avec l’IGES',
          spanish: 'Coherencia con el IGEI'
        },
        {
          tag: 'mgd_2-3-3-2',
          english: 'Use of historical data',
          french: 'Utilisation des données historiques',
          spanish: 'Uso de datos históricos'
        },
        {
          tag: 'mgd_2-3-3-3',
          english: 'Adjustments',
          french: 'Ajustements',
          spanish: 'Ajustes'
        },
        {
          tag: 'mgd_2-3-3-4',
          english: 'Uncertainties',
          french: 'Incertitudes',
          spanish: 'Incertidumbres'
        },
        {
          tag: 'mgd_2-3-3-5',
          english: 'Stepwise approach and updating',
          french: 'Approche par étapes et actualisation',
          spanish: 'Enfoque progresivo y actualización'
        },
        {
          tag: 'mgd_2-3-3-6',
          english: 'Number of reference levels per Party',
          french: 'Nombre de niveaux de référence par parties',
          spanish: 'Cantidad de niveles de referencia por cada Parte'
        },
        {
          tag: 'mgd_2-3-3-7',
          english: 'Subnational activities',
          french: 'Activités infranationales',
          spanish: 'Actividades subnacionales'
        },
        {
          tag: 'mgd_2-3-4',
          english: 'Quality assurance and quality control',
          french: 'Assurance qualité et contrôle qualité',
          spanish: 'Garantía de la calidad y control de calidad'
        },
        {
          tag: 'mgd_2-4',
          english: 'Guiding principles – Requirements and design decisions',
          french: 'Principes directeurs – Critères et décisions de conception',
          spanish: 'Principios Rectores – Requisitos y Decisiones de Diseño'
        },
        {
          tag: 'mgd_3',
          english: 'Methods and approaches',
          french: 'Méthodes et approches',
          spanish: 'Métodos y Enfoques'
        },
        {
          tag: 'mgd_3-1',
          english: 'Estimation methods for REDD+ activities',
          french: 'Méthodes d’estimation pour les activités REDD+',
          spanish: 'Métodos de estimación para las actividades de REDD+'
        },
        {
          tag: 'mgd_3-1-1',
          english: 'Estimation of emissions from deforestation',
          french: 'Estimation des émissions provenant de la déforestation',
          spanish: 'Estimación de las emisiones derivadas de la deforestación'
        },
        {
          tag: 'mgd_3-1-2',
          english: 'Estimation of emissions from degradation',
          french: 'Estimation des émissions provenant de la dégradation',
          spanish: 'Estimación de emisiones derivadas de la degradación'
        },
        {
          tag: 'mgd_3-1-3',
          english:
            'Sustainable management of forests, enhancement of forest carbon stocks (within existing forest), and conservation of forest carbon stocks',
          french:
            'Gestion durable des forêts, renforcement des stocks de carbone forestiers (au sein de forêts existantes), et conservation des stocks de carbone forestiers',
          spanish:
            'Manejo sostenible de los bosques, aumento de las existencias forestales de carbono (dentro de bosques existentes), y conservación de las existencias forestales de carbono'
        },
        {
          tag: 'mgd_3-1-4',
          english:
            'Enhancement of forest carbon stocks (afforestation of land not previously forest, reforestation of land previously converted from forest to another land use)',
          french:
            'Renforcement des stocks de carbone forestiers (boisement de terres qui n’étaient pas précédemment des forêts, reboisement d’anciennes forêts qui ont été converties en d’autres utilisations)',
          spanish:
            'Aumento de las existencias forestales de carbono (forestación de tierras previamente no forestadas, reforestación de tierras previamente convertidas de bosque a otros usos de la tierra)'
        },
        {
          tag: 'mgd_3-1-5',
          english: 'Conversion of natural forest',
          french: 'Conversion des forêts naturelles',
          spanish: 'Conversión del bosque natural'
        },
        {
          tag: 'mgd_3-2',
          english:
            'Integration frameworks for estimating emission and removals',
          french:
            'Cadres d’intégration permettant d’estimer les émissions et les absorptions',
          spanish:
            'Métodos de integración para estimar las emisiones y absorciones'
        },
        {
          tag: 'mgd_3-2-1',
          english: 'Selecting an integration framework',
          french: 'Sélection d’un cadre d’intégration',
          spanish: 'Selección de un método de integración'
        },
        {
          tag: 'mgd_3-2-1-1',
          english: 'Activity data x emission/removal factor frameworks',
          french:
            'Données d’activité x cadres de coefficient d’émission/absorption',
          spanish:
            'Métodos de datos de actividad x factores de emisión/absorción'
        },
        {
          tag: 'mgd_3-2-1-2',
          english: 'Fully integrated frameworks',
          french: 'Cadres entièrement intégrés',
          spanish: 'Métodos totalmente integrados'
        },
        {
          tag: 'mgd_3-2-1-3',
          english: 'Spatially explicit methods',
          french: 'Méthodes spatiales explicites',
          spanish: 'Métodos espacialmente explícitos'
        },
        {
          tag: 'mgd_3-2-1-4',
          english: 'Spatially referenced methods',
          french: 'Les méthodes référencées spatialement',
          spanish: 'Métodos referenciados espacialmente'
        },
        {
          tag: 'mgd_3-2-2',
          english: 'Activity data x emission/removal factor tools',
          french:
            'Outils adaptés aux données d’activités x coefficients d’émissions/ absorptions',
          spanish:
            'Herramientas de datos de actividad x factores de emisión/absorción'
        },
        {
          tag: 'mgd_3-2-3',
          english: 'Fully integrated tools',
          french: 'Outils entièrement intégrés',
          spanish: 'Herramientas totalmente integradas'
        },
        {
          tag: 'mgd_3-2-4',
          english: 'Practical considerations in choosing an integration tool',
          french:
            'Considérations pratiques pour choisir un outil d’intégration',
          spanish:
            'Consideraciones prácticas al momento de elegir una herramienta de integración'
        },
        {
          tag: 'mgd_3-3',
          english: 'Guiding principles – Methods and approaches',
          french: 'Principes directeurs – Méthodes et approches',
          spanish: 'Principios Rectores – Métodos y Enfoques'
        },
        {
          tag: 'mgd_4',
          english: 'Remote sensing and ground-based observations',
          french: 'Télédédection et observations au sol',
          spanish: 'Observaciones por Teledetección y Terrestres'
        },
        {
          tag: 'mgd_4-1',
          english: 'Remote sensing observations',
          french: 'Observations de télédédection',
          spanish: 'Observaciones por teledetección'
        },
        {
          tag: 'mgd_4-1-1',
          english: 'Coarse resolution optical data',
          french: 'Données optiques de faible résolution',
          spanish: 'Datos ópticos de baja resolución'
        },
        {
          tag: 'mgd_4-1-2',
          english: 'Medium resolution optical data',
          french: 'Données optiques de moyenne résolution',
          spanish: 'Datos ópticos de resolución media'
        },
        {
          tag: 'mgd_4-1-3',
          english: 'High resolution optical data',
          french: 'Données optiques à résolution élevée',
          spanish: 'Datos ópticos de alta resolución'
        },
        {
          tag: 'mgd_4-1-4',
          english: 'L-band Synthetic aperture radar',
          french: 'Le RADAR à ouverture synthétique (RAS)',
          spanish: 'RADAR de apertura sintética'
        },
        {
          tag: 'mgd_4-1-5',
          english: 'C-band and X-band SAR',
          french: 'Les systèmes RAS en bande C et en bande X',
          spanish: 'SAR de banda C y de banda X'
        },
        {
          tag: 'mgd_4-1-6',
          english: 'LIDAR',
          french: 'Les capteurs LIDAR',
          spanish: 'LIDAR'
        },
        {
          tag: 'mgd_4-1-7',
          english: 'Global forest cover change datasets',
          french:
            'Séries de données sur l’évolution du couvert forestier mondial',
          spanish:
            'Series de datos mundiales sobre el cambio en la cubierta forestal'
        },
        {
          tag: 'mgd_4-2',
          english: 'Ground-based observations',
          french: 'Observations au sol',
          spanish: 'Observaciones terrestres'
        },
        {
          tag: 'mgd_4-2-1',
          english: 'National forest inventories',
          french: 'Inventaires forestiers nationaux',
          spanish: 'Inventarios Forestales Nacionales'
        },
        {
          tag: 'mgd_4-2-2',
          english: 'Intensive monitoring sites',
          french: 'Sites de surveillance intensive',
          spanish: 'Sitios de monitoreo intensivo'
        },
        {
          tag: 'mgd_4-2-3',
          english: 'Auxiliary data',
          french: 'Données auxiliaires',
          spanish: 'Datos auxiliares'
        },
        {
          tag: 'mgd_4-2-3-1',
          english:
            'Use of auxiliary data in emission and removal factors and models',
          french:
            'Utilisation des données auxiliaires pour déterminer les coefficients et les modèles d’émissions et d’absorptions',
          spanish:
            'Uso de datos auxiliares en los factores y modelos de emisión y absorción'
        },
        {
          tag: 'mgd_4-2-3-2',
          english: 'Use of auxiliary data in REDD+ estimation',
          french:
            'Utilisation des données auxiliaires pour les estimations REDD+',
          spanish: 'Uso de datos auxiliares para la estimación de REDD+'
        },
        {
          tag: 'mgd_4-3',
          english:
            'Guiding principles – Remote sensing and ground-based observations',
          french: 'Principes directeurs – Télédétection et observation au sol',
          spanish:
            'Principios rectores – Observaciones por Teledetección y Terrestres'
        },
        {
          tag: 'mgd_5',
          english: 'Estimation and uncertainty',
          french: 'Estimation et incertitudes',
          spanish: 'Estimación e Incertidumbre'
        },
        {
          tag: 'mgd_5-1',
          english: 'Activity data',
          french: 'Données sur les activités',
          spanish: 'Datos de actividad'
        },
        {
          tag: 'mgd_5-1-1',
          english: 'Methods for estimating activity data',
          french: 'Méthodes pour estimer les données sur les activités',
          spanish: 'Métodos para estimar los datos de actividad'
        },
        {
          tag: 'mgd_5-1-2',
          english:
            'Maps of forest/non-forest, land use, or forest stratification',
          french:
            'Cartes des forêts/non-forêts, de l&#39;utilisation des terres, ou de la stratification des forêts',
          spanish:
            'Mapas de tierras forestales/no forestales, uso de la tierra, o estratificación forestal'
        },
        {
          tag: 'mgd_5-1-3',
          english: 'Detecting areas of change',
          french: 'Détection des zones de changement',
          spanish: 'Detección de los cambios en las superficies'
        },
        {
          tag: 'mgd_5-1-4',
          english: 'Additional map products from remote sensing',
          french:
            'Produits cartographiques supplémentaires pour la télédétection',
          spanish:
            'Productos cartográficos adicionales a partir de la teledetección'
        },
        {
          tag: 'mgd_5-1-5',
          english: 'Estimating uncertainty of area and change in area',
          french: 'Estimation des incertitudes et changements de superficie',
          spanish:
            'Estimación de la incertidumbre en una superficie y cambio en la superficie'
        },
        {
          tag: 'mgd_5-1-5-1',
          english: 'Simple random and systematic estimators',
          french: 'Estimateurs aléatoires et systématiques simples',
          spanish: 'Estimadores aleatorios simples y sistemáticos'
        },
        {
          tag: 'mgd_5-1-5-2',
          english: 'Stratified estimators',
          french: 'Estimateurs stratifiés',
          spanish: 'Estimadores estratificados'
        },
        {
          tag: 'mgd_5-1-5-3',
          english: 'Model-assisted estimators',
          french: 'Estimateurs assistés par modèle',
          spanish: 'Estimadores asistidos por modelos'
        },
        {
          tag: 'mgd_5-2',
          english: 'Emissions/removals factors',
          french: 'Coefficients d’émissions/absorptions',
          spanish: 'Factores de emisiones/absorciones'
        },
        {
          tag: 'mgd_5-2-1',
          english: 'Above- and belowground biomass',
          french: 'Biomasse aérienne et souterraine',
          spanish: 'Biomasa por encima y por debajo del suelo'
        },
        {
          tag: 'mgd_5-2-1-1',
          english:
            'Use of forest inventory plot data and allometric models for biomass estimation',
          french:
            'Utilisation des données parcellaires provenant d’inventaires forestiers et de modèles allométriques pour l’estimation de la biomasse',
          spanish:
            'Uso de datos de parcelas del inventario forestal y de modelos alométricos para la estimación de la biomasa'
        },
        {
          tag: 'mgd_5-2-1-2',
          english: 'Use of remote sensing data in biomass estimation',
          french:
            'Utilisation des données de télédétection pour l’estimation de la biomasse',
          spanish:
            'Uso de datos de teledetección para la estimación de la biomasa'
        },
        {
          tag: 'mgd_5-2-2',
          english: 'Dead wood and litter pools',
          french: 'Bassins de bois mort et litière',
          spanish: 'Reservorios de madera muerta y hojarasca'
        },
        {
          tag: 'mgd_5-2-3',
          english: 'Soil organic carbon',
          french: 'Le carbone dans les sols organiques',
          spanish: 'Carbono orgánico del suelo'
        },
        {
          tag: 'mgd_5-2-4',
          english: 'Emissions from prescribed fires and wildfires',
          french:
            'Émissions provenant des feux dirigés et des incendies de forêt',
          spanish:
            'Emisiones derivadas de incendios prescritos e incendios naturales'
        },
        {
          tag: 'mgd_5-2-5',
          english:
            'National choices in emissions and removals factor estimation',
          french:
            'Choix des pays pour estimer les coefficients d’émissions et d’absorptions',
          spanish:
            'Opciones nacionales para la estimación de los factores de emisiones y absorciones'
        },
        {
          tag: 'mgd_5-2-6',
          english: 'Emission and removal factor uncertainties',
          french:
            'Incertitudes sur les coefficients d’émissions et d’absorptions',
          spanish: 'Incertidumbres del factor de emisión y absorción'
        },
        {
          tag: 'mgd_5-2-6-1',
          english:
            'Method 1: Calculation of emissions/removals factors from spatially segregated strata',
          french:
            'Méthode 1: Calcul des coefficients d’émissions/absorptions à partir des strates séparées spatialement',
          spanish:
            'Método 1: Cálculo de los Factores de Emisiones/Absorciones a partir de Estratos Espacialmente Segregados'
        },
        {
          tag: 'mgd_5-2-6-2',
          english:
            'Method 2: Calculation of emissions/removals factors from change-over-time',
          french:
            'Méthode 2: Calcul des coefficients d’émissions/absorptions à partir des changements au cours du temps',
          spanish:
            'Método 2: Cálculo de los Factores Emisiones/Absorciones a partir del Cambio en el Tiempo'
        },
        {
          tag: 'mgd_5-3',
          english: 'Estimating total emissions/removals and its uncertainty',
          french:
            'Estimation des émissions/absorptions totales et des incertitudes',
          spanish:
            'Estimación total de emisiones/absorciones y su incertidumbre'
        },
        {
          tag: 'mgd_5-4',
          english: 'Guiding principles – Estimation and uncertainty',
          french: 'Principes directeurs – Estimation et incertitudes',
          spanish: 'Principios Rectores – Estimación e Incertidumbre'
        },
        {
          tag: 'mgd_6',
          english: 'Reporting and verification of emissions and removals',
          french: 'Notification et vérification des émissions et absorptions',
          spanish: 'Notificación y Verificación de Emisiones y Absorciones'
        },
        {
          tag: 'mgd_6-1',
          english: 'REDD+ requirements and procedures',
          french: 'Exigences et procédures pour REDD+',
          spanish: 'Requerimientos y procedimientos de REDD+'
        },
        {
          tag: 'mgd_6-2',
          english:
            'Reporting forest reference emission levels and forest reference levels',
          french:
            'Notification des niveaux d’émission de référence pour les forêts et des niveaux de référence pour les forêts',
          spanish:
            'Notificación de niveles de referencia de emisiones forestales y niveles de referencia forestales'
        },
        {
          tag: 'mgd_6-3',
          english:
            'Technical assessment of forest reference emission levels and forest reference levels',
          french:
            'Évaluation technique des niveaux d’émission de référence pour les forêts et des niveaux de référence pour les forêts',
          spanish:
            'Evaluación técnica de los niveles de referencia de emisiones forestales y niveles de referencia forestales'
        },
        {
          tag: 'mgd_6-4',
          english: 'Reporting results of REDD+ activities',
          french: 'Notification des résultats des activités REDD+',
          spanish: 'Notificación de resultados de actividades REDD+'
        },
        {
          tag: 'mgd_6-5',
          english: 'Technical analysis of the REDD+ annex to the BUR',
          french: 'Analyse technique de l’annexe REDD+ au BUR',
          spanish: 'Análisis del anexo técnico de REDD+ para los BUR'
        },
        {
          tag: 'mgd_6-6',
          english: 'Additional advice on REDD+ reporting and verification',
          french:
            'Autres conseils sur la notification et la vérification pour REDD+',
          spanish:
            'Sugerencia adicional sobre notificación y verificación de REDD+'
        },
        {
          tag: 'mgd_6-7',
          english:
            'Guiding Principles – Reporting and verification of emissions and removals',
          french:
            'Principes directeurs – Notification et vérification des émissions et absorptions',
          spanish:
            'Principios Rectores de la Notificación y Verificación de Emisiones y Absorciones'
        },
        {
          tag: 'mgd_7',
          english: 'References',
          french: 'Références',
          spanish: 'Referencias'
        },
        { tag: 'mgd-acronym', english: 'MGD', french: 'MPR', spanish: 'DMO' },
        {
          tag: 'mgd_Appendix_A',
          english: 'Financial considerations',
          french: 'Considérations financières',
          spanish: 'Consideraciones Financieras'
        },
        {
          tag: 'mgd_Appendix_B',
          english: 'Sampling',
          french: 'Échantillonnage',
          spanish: 'Muestreo'
        },
        {
          tag: 'mgd_Appendix_C',
          english: 'Country examples – Tier 3 integration',
          french: 'Exemples nationaux – Intégration de niveau 3',
          spanish: 'Ejemplos de Países – Integración Nivel 3'
        },
        {
          tag: 'mgd_Appendix_D',
          english: 'Use of global forest change map data',
          french:
            'Utilisation des données cartographiques mondiales sur les changements dans les forêts',
          spanish: 'Uso de Datos Cartográficos de Global Forest Change'
        },
        {
          tag: 'mgd_Appendix_E',
          english: 'Relative efficiencies',
          french: 'Efficacité relative',
          spanish: 'Eficacia Relativa'
        },
        {
          tag: 'mgd_Appendix_F',
          english: 'Developing and using allometric models to estimate biomass',
          french:
            'Le développement et l&#39;utilisation de modèles allométriques pour estimer la biomasse',
          spanish:
            'Desarrollo y uso de modelos alométricos para la estimación de la biomasa'
        },
        {
          tag: 'mgd_Appendix_G',
          english:
            'Brief review of the potential for estimation of biomass by remote sensing',
          french:
            'Bref examen du potentiel de la télédétection pour estimer la biomasse',
          spanish:
            'Breve Revisión del Potencial de Estimación Directa de la Biomasa Mediante Teledetección'
        },
        {
          tag: 'mgd-themes',
          english: 'Themes',
          french: 'Thèmes',
          spanish: 'Temas'
        },
        {
          tag: 'model.resource.com.eas.gfoi.docs.mrvsystem.model.Detail',
          english: 'MRV Profile Detail',
          french: 'Détail profil MNV',
          spanish: 'Detalle perfil MRV'
        },
        {
          tag: 'model.resource.com.eas.gfoi.docs.mrvsystem.model.MRVSystem',
          english: 'MRV Profile',
          french: 'Profil MNV',
          spanish: 'Perfil MRV'
        },
        {
          tag: 'mrv-system',
          english: 'MRV Profile',
          french: 'Profil MNV',
          spanish: 'Perfil MRV'
        },
        {
          tag: 'mrvsystem-cannot-be-displayed',
          english: 'The selected MRV Profile cannot be displayed.',
          french: 'Le profil MNV selectionné ne peut pas être affiché',
          spanish: 'El perfil MRV seleccionado no se puede mostrar'
        },
        {
          tag: 'mrvsystem-competency-state-invalid',
          english: 'Invalid',
          french: 'Non valide',
          spanish: 'No válido'
        },
        {
          tag: 'mrvsystem-competency-state-not-applicable',
          english: 'Not Applicable',
          french: 'Non applicable',
          spanish: 'No aplicable'
        },
        {
          tag: 'mrvsystem-competency-state-not-set',
          english: 'Not Set',
          french: 'Non établi',
          spanish: 'No configurado'
        },
        {
          tag: 'mrvsystem-competency-state-training-covered',
          english: 'Training Covered',
          french: 'Formation complétée',
          spanish: 'Capacitación completada'
        },
        {
          tag: 'mrvsystem-competency-state-training-required',
          english: 'Training Required',
          french: 'Formation nécessaire',
          spanish: 'Capacitación necesaria'
        },
        {
          tag: 'mrvsystem-country',
          english: 'Country',
          french: 'Pays',
          spanish: 'País'
        },
        {
          tag: 'mrvsystem-name',
          english: 'MRV Profile Name',
          french: 'Nom profil MNV',
          spanish: 'Nombre Perfil MRV'
        },
        {
          tag: 'mrvsystem-state-done',
          english: 'Done',
          french: 'Terminé',
          spanish: 'Listo'
        },
        {
          tag: 'mrvsystem-state-invalid',
          english: 'Invalid',
          french: 'Non valide',
          spanish: 'No válido'
        },
        {
          tag: 'mrvsystem-state-not-applicable',
          english: 'Not Applicable',
          french: 'Non applicable',
          spanish: 'No aplicable'
        },
        {
          tag: 'mrvsystem-state-not-set',
          english: 'Not Done',
          french: 'Non terminé',
          spanish: 'No terminado'
        },
        { tag: 'name', english: 'name', french: 'nom', spanish: 'Nombre' },
        {
          tag: 'name-from',
          english: 'Name From',
          french: 'Nom Depuis',
          spanish: 'Nombre Desde'
        },
        {
          tag: 'new-item',
          english: 'new item',
          french: 'nouvel élément',
          spanish: 'nuevo elemento'
        },
        {
          tag: 'open-another-mrv-system',
          english: 'Open another MRV Profile',
          french: 'Ouvrir un autre profil MNV',
          spanish: 'Abrir otro Perfil MRV'
        },
        {
          tag: 'optional',
          english: 'optional',
          french: 'Facultatif',
          spanish: 'Opcional'
        },
        {
          tag: 'options',
          english: 'options',
          french: 'Options',
          spanish: 'Opciones'
        },
        {
          tag: 'owner-role',
          english: 'Owner Role',
          french: 'Rôle de propriétaire',
          spanish: 'Rol propietario'
        },
        {
          tag: 'page-style',
          english: 'page style',
          french: 'Style page',
          spanish: 'Estilo página'
        },
        {
          tag: 'panel-style',
          english: 'panel style',
          french: 'Style écran',
          spanish: 'Estilo panel'
        },
        {
          tag: 'paragraph',
          english: 'paragraph',
          french: 'paragraphe',
          spanish: 'Párrafo'
        },
        {
          tag: 'please-enter-a-valid-path-and-file-name',
          english: 'Please enter a valid path and file name.',
          french: 'Entrer un chemin d’accès et un nom de fichier valides',
          spanish: 'Introducir una ruta y un nombre de archivo válidos'
        },
        {
          tag: 'please-enter-no-more-than-75-characters',
          english: 'Please enter no more than 75 characters.',
          french: 'Ne pas entrer plus de 75 caractères',
          spanish: 'No introducir más de 75 carácteres'
        },
        {
          tag: 'please-enter-unique-field-names',
          english: 'Please enter unique field names',
          french: 'Entrer des noms de champ uniques',
          spanish: 'Introducir nombres de campo únicos'
        },
        {
          tag: 'please-sign-in-to-add-a-mrv-system-detail',
          english: 'Please sign in to add a MRV Profile Detail',
          french: 'Se connecter pour ajouter un Détail de profil MNV',
          spanish: 'Iniciar sesión para añadir un Detalle de perfil MRV'
        },
        {
          tag: 'policy-design-decisions',
          english: 'Policy + Design Decisions',
          french: 'Politiques + Choix de conception',
          spanish: 'Políticas + Decisiones de diseño'
        },
        {
          tag: 'populate',
          english: 'Populate',
          french: 'Remplir',
          spanish: 'Rellenar'
        },
        {
          tag: 'radio-buttons',
          english: 'radio buttons',
          french: 'Boutons radio',
          spanish: 'Botones de opción'
        },
        {
          tag: 'read-the-mgd',
          english: 'Read the MGD',
          french: 'Lire les MPR',
          spanish: 'Leer el DMO'
        },
        {
          tag: 'register-for-access',
          english:
            'Register for access to work sheets, updates and notifications, and online material.',
          french:
            'S’inscrire pour accéder aux fiches, aux mises à jour, aux notifications et au matériel en ligne',
          spanish:
            'Registrarse para acceder a las fichas, las actualizaciones, las notificaciones, y el material en línea'
        },
        {
          tag: 'related-concepts',
          english: 'Related Concepts',
          french: 'Concepts apparentés',
          spanish: 'Conceptos relacionados'
        },
        {
          tag: 'related-links',
          english: 'Related Links',
          french: 'Liens apparentés',
          spanish: 'Vínculos relacionados'
        },
        {
          tag: 'related-resources-tools',
          english: 'Related Resources/Tools',
          french: 'Recursos relacionados',
          spanish: 'Herramientas'
        },
        {
          tag: 'report-by-x',
          english: 'by {0}',
          french: 'Autheur {0}',
          spanish: 'Autor {0}'
        },
        {
          tag: 'reporting-verification',
          english: 'Reporting + Verification',
          french: 'Notification + Vérification',
          spanish: 'Reporte + Verificación'
        },
        {
          tag: 'report-mrv',
          english: 'View MRV Report',
          french: 'Voir le rapport MNV',
          spanish: 'Ver informe  MRV'
        },
        {
          tag: 'response',
          english: 'Response',
          french: 'Réponse',
          spanish: 'Respuesta'
        },
        {
          tag: 'screenname-box',
          english: 'Screen name',
          french: 'Identifiant',
          spanish: 'Nombre usuario'
        },
        {
          tag: 'search-the-mgd',
          english: 'Search the MGD',
          french: 'Consulter les MPR',
          spanish: 'Explorar  el DMO'
        },
        { tag: 'show', english: 'show', french: 'Montrer', spanish: 'Mostrar' },
        {
          tag: 'signed-in-as-x',
          english: 'You are signed in as {0}',
          french: 'Vous êtes connecté comme',
          spanish: 'Está registrado como'
        },
        { tag: 'status', english: 'Status', french: 'État', spanish: 'Estado' },
        {
          tag: 'summary',
          english: 'Summary',
          french: 'Résumé',
          spanish: 'Resumen'
        },
        {
          tag: 'switch-box',
          english: 'switch',
          french: 'Changer',
          spanish: 'Cambiar'
        },
        {
          tag: 'tags',
          english: 'tags',
          french: 'Balises',
          spanish: 'Etiquetas'
        },
        { tag: 'text', english: 'text', french: 'texte', spanish: 'Texto' },
        { tag: 'text-box', english: 'text', french: 'texte', spanish: 'Texto' },
        {
          tag: 'theme-completion',
          english: 'Theme Completion',
          french: 'Finalisation du thème',
          spanish: 'Finalización del Tema'
        },
        {
          tag: 'theme-concept',
          english: 'Theme / Concept',
          french: 'concepto',
          spanish: 'Tema'
        },
        {
          tag: 'themes-complete',
          english: 'Themes Complete',
          french: 'Thèmes complétés',
          spanish: 'Temas completados'
        },
        {
          tag: 'the-value-being-validated',
          english: 'The value being validated',
          french: 'La valeur en cours de validation',
          spanish: 'El valor que se está validando'
        },
        {
          tag: 'this-field-does-not-have-any-specific-validation',
          english: 'This field does not have any specific validation',
          french: 'This field does not have any specific validation',
          spanish: 'This field does not have any specific validation'
        },
        {
          tag: 'this-field-is-mandatory',
          english: 'This field is mandatory',
          french: 'Ce champ est obligatoire',
          spanish: 'Este campo es obligatorio'
        },
        {
          tag: 'training-covered',
          english: 'Covered',
          french: 'Incluse',
          spanish: 'Incluida'
        },
        {
          tag: 'training-identified',
          english: 'Training Identified',
          french: 'Formation identifiée',
          spanish: 'Capacitación identificada'
        },
        {
          tag: 'training-required',
          english: 'Training Required',
          french: 'Formation nécessaire',
          spanish: 'Capacitación necesaria'
        },
        { tag: 'type', english: 'type', french: 'type', spanish: 'Tipo' },
        {
          tag: 'url-box',
          english: 'Page URL',
          french: 'URL de la page',
          spanish: 'URL de la página'
        },
        {
          tag: 'userid-box',
          english: 'User ID',
          french: 'Identifiant',
          spanish: 'Usuario'
        },
        {
          tag: 'user-profile',
          english: 'User Profile',
          french: 'Profil de l’utilisateur',
          spanish: 'Perfil del usuario'
        },
        {
          tag: 'validation',
          english: 'validation',
          french: 'Validation',
          spanish: 'Validación'
        },
        {
          tag: 'web-application',
          english: 'Application',
          french: 'Application',
          spanish: 'Aplicación'
        },
        {
          tag: 'work-through-mrv-themes',
          english: 'Work through MRV Themes',
          french: 'Analyser les thèmes de MNV',
          spanish: 'Analizar los Temas de MRV'
        }
      ]
    }
  }
}
</script>
